.evelynchart{
    display: none;
}

.florischart{
    display: none;
}

.hectorchart{
    display: none;
}

.martinachart{
    display: none;
}

.mauritschart{
    display: none;
}

.arankachart{
    display: none;
}

.sandrachart{
    display: none;
}

.wietskechart{
    display: none;
}

.stormchart{
    display: none;
}

.rahimachart{
    display: none;
}